<div class="container text-center">
    <div class="section-button slide-in">
        <p>Download my resume from here</p>
        <button (click)="downloadFile()" class="btn btn-primary mb-3 shadow-md border">Download PDF</button>
    </div>
    <hr>
    <div class="container mt-4">
        
        <div class="section slide-in-right">
            <h2>Education</h2>
            <div class="item">
                <h3>School</h3>
                <p><b>Name: <u>Seedling Modern High School</u></b></p>
                <p><b>Class 12:</b></p>
                <p>Percentage: 92%</p>
                <p>Year of Completion: 2020</p>
                <p><b>Class 10:</b></p>
                <p>Percentage: 90%</p>
                <p>Year of Completion: 2018</p>
            </div>
            <div class="item">
                <h3>College</h3>
                <p><b>Name: <u>Swami keshvanand Institute of Technology (SKIT)</u></b></p>
                <p>Percentage: 9.5 SGPA</p>
                <p>Year of Completion: 2024</p>
            </div>
        </div>
        <div class="section slide-in">
            <h2>Work Experience</h2>
            <div class="item">
                <h3>RoboMQ, Jaipur</h3>
                <p>Role: Software Developer Intern</p>
                <p>Joining Date: January 2, 2024</p>
            </div>
        </div>
        <div class="section slide-in-right">
            <h2>Technical Skills</h2>
            <div class="item">
                
                    <p>HTML, CSS, Javascript</p>
                    <p>AngularJS</p>
                    <p>NodeJS</p>
                    <p>MySQL</p>
                    <p>MongoDB</p>
                    <p>Git and GitHub</p>
                
            </div>
        </div>
        <div class="section slide">
            <h2>Strengths</h2>
            <div class="item">
               
                <p>Time management</p>
                <p>Team player</p>
                <p>Leadership qualities</p>
                <p>Good communication skills</p>
            </div>
        </div>
    </div>
    </div>
