.section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.section:hover{
    background-color: #e2e0e0c0;
}
.section-button{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
    margin-left: 350px;
}

.section-button:hover{
    background-color: #e2e0e0c0;
}

.section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.item {
    margin-bottom: 15px;
}

.item h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.item p {
    margin-bottom: 5px;
    font-size: 16px;
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set the height of the line */
    background-color: #333; /* Set the color of the line */
    margin: 20px 0; /* Set margin (top and bottom) */
}


@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in {
    display: block;
    animation: slideIn 1s forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
  
.slide-in-right{
      display: block;
      animation: slideInRight 1s forwards;

  }
  